<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Дополнительные стили (не обязательно) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Подключаем jQuery (необходим для Bootstrap JavaScript) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
{#Старт:#}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    <button type="submit" class="btn btn-warning"> <b>Старт</b></button>#}
{# </form>#}

{#<h3> {{ elem }} </h3>#}
<div class="container">
    <div class="row">
      <hr>
        <table class="table table-bordered">
          <tbody>
            {% for coin in all_coin_db %}
                <tr>
                  <th style="text-align: center" scope="row"><img src="{{ coin.url_href }}" style="width: 50px;" alt=""></th>
                  <td><a href="{{ coin.href }}">{{ coin.name }}</a></td>
                  <td>{{ coin.material }}</td>
                  <td>{{ coin.price }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <hr>
        <h3><a href="{{ site.site }}">Site: {{ site.site }}</a></h3>
        <hr>
        <h2>Log:</h2>
        <table class="table table-bordered">
          <tbody>
            {% for log in logs %}
                <tr>
                  <td>{{ log.id }}</td>
                  <td>{{ log.name }}</td>
                  <td>{{ log.time }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <hr>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning"> <b>Старт</b></button>
        </form>
        <br>
    </div>
</div>

</body>
</html>